img{border:none;}

/* Le menu */

#Menu
{
   position:absolute;
   top:229px;
left:0;
   width: 120px;
}

.sMenu
{
   background-color: rgb(244, 249, 253);
   background-image: url("../images/menubar.png");
   background-repeat:repeat-x;

   border: 1px solid #fd3636;


   /*Pourquoi ca fait ca ?? : entre 0 et 1, grosse difference*/
   padding: 5px;
   padding-top : 0px;

   font-size:small;
   text-align: left;
   color: #FF0000;

   margin-bottom: 10px;
}

.sMenu em
{
font-style:italic;
color: #86BAF7;
}

.sMenu h3
{
   color: #BE0013;
   text-align: center;
   font-size:medium;
   font-weight:bold;
   font-style:normal;
   text-decoration:none;
   font-variant:small-caps ;
}

.sMenu ul
{
   list-style-image: url("../images/puce.png");
   padding: 0px;
   padding-left: 20px;
   margin: 0px;
   margin-bottom: 5px;
}
/*.sMenu li {height:22px;}*/

.sMenu li a {text-decoration:none;}

.sMenu a
{
   color: #FF5464;
}

#Bas a
{
   color: #FF5464;
}

.sMenu a:visited
{
   color: #FF253A;
}

.sMenu a:hover
{
   color: #BE0013;
}

/* Menu droite */
#dMenu
{
   width: 120px;
   position:absolute;
   top:229px;
   right:0;
}

#Bas, .news, .livreor
{
   color: #FF253A;
   background-color: #FFDAE1;
   background-image: url("../images/Bar.png");
   background-repeat: repeat-x;
   border: 1px solid #fd3636;
}

/* Le corps de la page */

.cache
{
   font-size:xx-small;
}

.news, .livreor, .formul, .message
{
   margin-left: 0px;
   margin-right: 0px;
   margin-bottom: 40px;
   padding: 20px;
line-height:18px;

}

.news em
{
   font-size:xx-small;

   color: #FF253A;
   text-align: left;
   font-style:normal;
}

.Tpetit
{
   font-size:xx-small;
   font-style:normal;
}

.news
{
   color: #FF253A;
}

.news h3
{
   font-size:medium;
   font-variant:small-caps ;
   font-weight:bold;
   color: #BE0013;
   text-align: center;
}

.formul
{
   margin-top: 15px;
   border: 1px dashed;
   text-align: center;
}

.message
{
   margin-top: 15px;
   border: 1px dashed;
   text-align: left;
}


input[type=submit], input[type=button]
{

   background:url('../images/bton.png') repeat-x 0px -22px;
   border-style:outset;
   border-width:1px;
   font-weight:bold;
   color: #FFFFFF;
   margin-top: 5px;

}

input[type=submit]:hover, input[type=submit]:focus, input[type=button]:hover, input[type=button]:focus
{
   background-position:0px 0px;
   cursor:pointer;
}

input[type=submit]:active, input[type=button]:active
{
   border-style:inset;
}

.formul .petit, .message .petit
{
font-size:1em;
}

table
{
    margin-left: auto;
    margin-right: auto;
}

a.bulle
{
   position: relative;
   color: black;
   text-decoration: none;
   border-bottom: none;
}

a.bulle span
{
   display: none; /* on masque l'infobulle */
}

a.bulle:hover {
   background: none; /* correction d'un bug IE */
   z-index: 500; /* on dýfinit une valeur pour l'ordre d'affichage */
}

a.bulle:hover span {
   display: inline; /* on affiche l'infobulle */
   position: absolute;
   white-space: nowrap; /* on change la valeur de la propriýtý whiteýspace pour qu'il n'y ait pas de retour ý la ligne nonýdýsirý */

   top: 20px; /* on positionne notre infobulle */
   left: 20px;

   background: white;

   color: red;
   padding: 3px;

   border: 1px solid red;
   border-left: 4px solid red;
}
