{% extends '::base.html.twig' %}

{% block view %}
    <article>
        <h2>Bonjour et bienvenue sur Bisouland v2 !</h2>

        <p>
            Bisouland est un jeu gratuit par navigateur.<br />
            Volez des points d'amour de vos adversaires en leur
            envoyant des bisous !
        </p>

        <p>
            Ce site est en perp&eacute;tuelle &eacute;volution et en
            cours de d&eacute;veloppement, n'h&eacute;sitez pas
            &agrave; revenir r&eacute;guli&egrave;rement pour voir les
            nouveaut&eacute;s.
        </p>
    </article>

    <article>
        <header>
            <h2>Bisouland version 2.0.0</h2>

            <p>Le 02/05/2012</p>
        </header>
        
        <p>
            Voici enfin la version tant attendue : Bisouland v2 !<br />
            C'est une refont compl&egrave;te du jeu, donc attendez vous
            &agrave; du nouveau !<br />
            Pour le moment il n'y a pas grand chose, mais nous allons publier
            les nouvelles fonctionnalit&eacute;s petit &agrave; petit, afin
            que vous puissiez en b&eacute;n&eacute;ficier au plus t&ocirc;t.
        </p>

        <h3>Fonctionnalit&eacute;s ajout&eacute;es</h3>
        
        <p>
            Pour le moment, le plus gros du travail a &eacute;t&eacute;
            l'installation de
            <a href="http://symfony.com/" title="framework PHP">Symfony2</a>
            et la cr&eacute;ation du design avec
            <a href="www.getskeleton.com" title="HTML5/CSS3 Boilerplate">Skeleton</a>.<br />
            Voici ce qui concerne plus le jeu en lui-m&ecirc;me :
        </p>

        <ul class="circle">
            <li>Ajout d'un easter egg sur la population.</li>
        </ul>
        
        <footer>
            <p>Par ZEAS et gnubat</p>
        </footer>
    </article>
{% endblock %}
