{% block content %}
    <h2>Bonjour et bienvenue sur Bisouland v2 !!</h2></br>
BisouLand est un jeu multi-joueurs.</br>
La communaut&eacute; de joueur vous aide &agrave; avancer rejoignez la!</br>
Vous pouvez aller visiter la page d'aide pour apprendre les bases.</br>
La version deux de Bisouland &eacute;volue pour avoir plus de contenu.</br>
</br>
Ce site est en cours de d&eacute;veloppement.</br>
{% endblock %}
