{% extends '::base.html.twig' %}

{% block meta %}
    <meta name="description" content="Accueil de Bisouland, jeu en ligne par navigateur" />
    <meta name="keywords" content="Bisouland, jeu en ligne, navigateur, accueil" />
{% endblock %}

{% block view %}
    <article class="hero-unit">
        <h1>Bisouland v2 <small>Embrassez les tous !</small></h1>

        <p>
            Volez les points d'amour de vos adversaires en les embrassant, dans
            ce jeu gratuit par navigateur !
        </p>
        
        <p>
            <a href="{{ path('beings') }}" class="btn btn-primary btn-large">
                Commencez &agrave; jouer d&egrave;s maintenant !
            </a>
        </p>
    </article>
    
    <div class="row">
        <div class="span4 marketing">
            <h2>Un monde &eacute;volutif</h2>

            <p>
                <span class="label label-success">Coup de foudre</span>
                &Agrave; chaque visite, un nouvel amoureux est
                cr&eacute;&eacute; et rejoint la population de Bisouland.
            </p>
        </div>

        <div class="span4 marketing">
            <h2>Des drames</h2>

            <p>
                <span class="label label-important">Coeurs bris&eacute;s</span>
                Lorsqu'il atteind les <span class="number">0</span>
                <abbr title="Points d'Amour" class="initialism">PA</abbr>
                l'amoureux perd le jeu et est automatiquement supprim&eacute;.
            </p>
        </div>

        <div class="span4 marketing">
            <h2>Des tournantes</h2>

            <p>
                <span class="badge"><i class="icon-hand-left"></i></span>
                S&eacute;lectionnez n'importe quel amoureux, m&ecirc;me ceux
                d&eacute;j&agrave; s&eacute;lectionn&eacute;s par d'autres
                joueurs !
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="span6 marketing">
            <h2>De l'amour</h2>

            <p>
                <span class="badge">
                    <abbr title="Points d'Amour" class="initialism">PA</abbr>
                </span>
                Chaque amoureux poss&egrave;de des Points d'Amour, qui diminuent
                naturellement d'<span class="number">1</span> point par seconde.
            </p>
        </div>
            
        <div class="span6 marketing">
            <h2>De la passion</h2>

            <p>
                <span class="badge"><i class="icon-heart"></i></span>
                Votre but est de voler les
                <abbr title="Points d'Amour" class="initialism">PA</abbr> des
                autres amoureux, en tentant de les embrasser.
            </p>
        </div>
    </div>

    <div class="row">
         <div class="span6 marketing">
            <h2>De la s&eacute;duction</h2>

            <p>
                <span class="badge">
                    <abbr title="S&eacute;duction" class="initialism">S</abbr>
                </span>
                <span class="badge">
                    <abbr title="Baffe" class="initialism">B</abbr>
                </span>
                <span class="badge">
                    <abbr title="Coeur" class="initialism">C</abbr>
                </span>
                Utilisez vos bonus de S&eacute;duction pour mieux embrasser, de
                Baffe pour mieux poser des lapins et de Coeur emp&ecirc;cher de
                se faire voler tout les
                <abbr title="Points d'Amour" class="initialism">PA</abbr>.
            </p>
        </div>

        <div class="span3 marketing">
            <h2>De la fougue</h2>

            <p>
                <span class="label label-success">Baiser fougeux</span>
                <span class="number">1</span> chance sur
                <span class="number">20</span> d'embrasser &agrave; coup
                s&ucirc;r.
            </p>
        </div>
        
        <div class="span3 marketing">
            <h2>Des r&acirc;teaux</h2>

            <p>
                <span class="label label-important">Gros vent</span>
                <span class="number">1</span> chance sur
                <span class="number">20</span> de se prendre un r&acirc;teau
                &agrave; coup s&ucirc;r.
            </p>
        </div>
    </div>
    
    <div class="row">
        <div class="span5 marketing">
            <h2>Une int&eacute;gration continue</h2>
           
            <p class="alert">
                <span class="label label-warning">En d&eacute;velopement</span>
                Incomplet en l'&eacute;tat actuel, Bisouland &eacute;volue
                et re&ccedil;oit chaque semaines de nouvelles
                fonctionnalit&eacute;es.
            </p>
        </div>

        <div class="span7 marketing">
            <h2>L'amour sous toutes ses formes</h2>
            
            <p class="alert alert-info">
                <span class="label label-info">Pour la v2.4</span>
                Prochainement disponible : Les types (ange, humain et
                d&eacute;mon) et strat&eacute;gies (c&eacute;libataire,
                fid&egrave;le et libertin) permettent de varier les tactiques
                de jeu.
            </p>
        </div>
    </div>

    <article>
        <header>
            <h2>Bisouland version <span class="number">2.2.0</span></h2>

            <p>Le 26/05/2012</p>
        </header>
        
        <p>
            Fonctionnalit&eacute;s de la v2.2.0 et annonces pour la v2.3.0 et
            la v2.4.0.
        </p>
        
        <footer>
            <p>Par ZEA et gnubat</p>
            
            <p>
                <a href="{{ path('news') }}#220" class="btn btn-primary btn-large">
                    Lire la suite
                </a>
            </p>
        </footer>
    </article>

    <article>
        <header>
            <h2>Bisouland version <span class="number">2.1.0</span></h2>

            <p>Le 14/05/2012</p>
        </header>
        
        <p>
            Fonctionnalit&eacute;s de la v2.1.0 et classement final de la v1.
        </p>
        
        <footer>
            <p>Par gnubat</p>

            <p>
                <a href="{{ path('news') }}#210" class="btn btn-primary btn-large">
                    Lire la suite
                </a>
            </p>
        </footer>
    </article>

    <article>
        <header>
            <h2>Bisouland version <span class="number">2.0.0</span></h2>

            <p>Le 02/05/2012</p>
        </header>
        
        <p>
            Fonctionnalit&eacute;s de la v2.0.0.
        </p>
        
        <footer>
            <p>Par ZEA et gnubat</p>
            
            <p>
                <a href="{{ path('news') }}#200" class="btn btn-primary btn-large">
                    Lire la suite
                </a>
            </p>
        </footer>
    </article>
{% endblock %}
