<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Bisouland</title>

        <meta name="description" content="Free online strategy-game. Take your opponents love points by sending them kisses!">
        <meta name="author" content="Loïc Chardonnet">
        <meta name="viewport" content="width=device-width">

        <link rel="canonical" href="http://bisouland.piwai.info/en/index.html"/>
        <link rel="alternate" href="http://bisouland.piwai.info/en/feed/atom.xml" type="application/atom+xml" title="Bisouland"/>

        <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    </head>

    <body ng-app="formApp" ng-controller="formController">
        <!--[if lt IE 7]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="container">
            <div class="row">
                <div class="">
                    <div class="page-header">
                          <ul class="list-inline pull-right">
                          </ul>
                        <h4><a class="" href=".">Bisouland</a></h4>
                    </div>

                    <div class="content">
                        <form role="form" ng-submit="processForm()">
                            <div class="form-group" ng-class="{ 'has-error': errorName }">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" ng-model="formData.username">
                                <span class="help-block" ng-show="errorName">[[ errorUsername ]]</span>
                            </div>

                            <div class="form-group">
                                <label for="plain_password">Password</label>
                                <input type="password" class="form-control" id="plain_password"  ng-model="formData.plain_password">
                            </div>

                            <button type="submit" class="btn btn-default">
                                Create my account
                            </button>
                        </form>
                    </div>

                    <footer>
                        <p class="text-center">
                            &copy; <a href="gnugat.github.io">Loïc Chardonnet</a> 2014
                            <small>
                                with help from <a href="http://carew.github.com/" target="_blank">Carew</a>
                            </small>
                        </p>
                    </footer>
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>

        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32299315-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        // define angular module/app
        var formApp = angular.module('formApp', [])
            .config(['$interpolateProvider', function ($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }])
        ;

        // create angular controller and pass in $scope and $http
        function formController($scope, $http) {
            $scope.formData = {};

            $scope.processForm = function() {
                $http.post(
                    "{{ path('bisouland_api_create_user') }}",
                    $scope.formData
                );
            };
        }
        </script>
    </body>
</html>
