# Assets
/web/bundles/

# Continuous integration
/build/

# Dependencies
/vendor/
!/bin/install.sh
/bin/*
/composer.phar

# Temporary files
!/app/cache/.gitkeep
/app/cache/*
!/app/logs/.gitkeep
/app/logs/*
/app/bootstrap.php.cache

# Configuration files
app/config/parameters.yml
web/news/.htaccess
web/news/.htpasswd
