# Keep told directories
!.gitkeep

# Assets
/web/css/*
/web/js/*
/web/bundles/

# Continuous integration
/build/

# Dependencies
/vendor/
!/bin/install.sh
!/bin/test.sh
/bin/*
/composer.phar

# Temporary files
/app/cache/*
/app/logs/*

# Build files
/app/bootstrap.php.cache

# Configuration files
app/config/parameters.yml
web/news/.htaccess
web/news/.htpasswd
