{% if app.session.hasFlash('numberOfRemovedBeings') %}
    {% set numberOfRemovedBeings = app.session.flash('numberOfRemovedBeings') %}
    {% if 0 < numberOfRemovedBeings %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">&times;</button>
            <span class="label label-important">Coeurs bris&eacute;s</span>
            {{ numberOfRemovedBeings }} amoureux {{ numberOfRemovedBeings > 1 ? 'viennent' : 'vient' }} de perdre.
        </div>
    {% endif %}
{% endif %}
