/*
** Article CSS :
** Surcharge Main CSS pour le div article.
*/

#article {
  margin-bottom:  5px;
  width:          885px;
  background:     #fee;
  padding:        15px;
  border:         1px solid #fcc;
  float:          left;
}

.section {
  background:    #fff;
  margin-bottom:  10px;
  padding:        5px;
}
