/*
** Aside CSS :
** Surcharge Main CSS pour le div aside
*/

#aside {
  margin-bottom:  5px;
  width:          250px;
  background:     #fee;
  padding:        5px;
  border:         1px solid #fcc;
  float:          right;
}

#aside h2 {
  text-align:     center;
}

#aside a {
  font-weight:    bold;
}
