/*
** Header CSS :
** Surcharge les valeurs de Main CSS pour le div header.
*/

#header {
  background:     #9c6;
  height:         70px;
  color:          #7a4;
  border:         1px solid #8b5;
  position:       relative;
  padding:        5px 15px;
  margin-bottom:  5px;
}

#header h1, #header h2, #header ul {
  margin:         0;
  padding:        0;
}

#header a:link, #header a:visited {
  color:          #be8;
}

#header a:hover, #header a:active {
  color:          #cf9;
}

#header li {
  display:        inline;
}

#header table{
  background:     #dfc;
}
