/*
** Main CSS :
** Surcharge les valeurs de Reset CSS pour la mise en page generale.
*/

html {
  background:             #ccc url("../images/bg.png");
  color:                  #777;
  font:                   12px Arial;
}

body {
  width:                  1200px;
  margin:                 auto;
  margin-top:             20px;
  padding:                20px;
  background:             #ddd;
  border:                 2px solid #bbb;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
}

a:link, a:visited {
  color:                  #888;
}

a:hover, a:active {
  color:                  #999;
}

.clear {
  clear:                  both;
}
