/*
** Main CSS :
** Surcharge les valeurs de Reset CSS pour la mise en page generale.
*/

html {
  background:             #fde url("../images/bg.png");
  color:                  #666;
  font:                   12px Arial;
}

body {
  width:                  1000px;
  margin:                 auto;
  margin-top:             20px;
  padding:                20px;
  background:             #fee;
  border:                 1px solid #f7a;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
}

a:link, a:visited {
  color:                  #777;
}

a:hover, a:active {
  color:                  #888;
}
