/*
** Main CSS :
** Surcharge les valeurs de Reset CSS pour la mise en page generale.
*/

html {
  background:             #fcc url("../images/bg.gif") repeat-x;
  color:                  #444;
  font:                   12px Arial;
}

body {
  width:                  1200px;
  margin:                 auto;
  margin-top:             20px;
  padding:                20px;
  background:             #fdd;
  border:                 2px solid #fbb;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
}

a:link, a:visited {
  color:                  #e15;
}

a:hover, a:active {
  color:                  #f26;
}
