/*
** Nav CSS :
** Surcharge Main CSS pour le div nav.
*/

#nav {
  background:             #a97 url("../images/nav-bg.gif") repeat;
  border:                 1px solid #f99;
  color:                  #875;
  margin-bottom:          5px;
  height:                 130px;
}

#nav h1, #nav h2, #nav ul {
  margin:                 0;
  padding:                0;
}

#nav a:link, #nav a:visited {
  color:                  #dca;
}

#nav a:hover, #nav a:active {
  color:                  #edb;
}

#nav .subnav {
  background:             #fdd;
  width:                  150px;
  height:                 100px;
  display:                inline-block;
  vertical-align:         top;
  margin:                 10px;
  padding:                5px;
  -webkit-border-radius:  10px;
  -moz-border-radius:     10px;
  border-radius:          10px;
}

#nav .subnav ul {
  list-style-type:        none;
}

