//
// Variables
// --------------------------------------------------

@backgroundErrorColor: #eb9a9a;
@textErrorColor: #d12f19;

@backgroundBoldColor: #f3686d;
@backgroundMediumColor: #fbdddf;
@backgroundLightColor: #ffffff;

@textMediumColor: #d62647;
@textLightColor: #ffffff;

@borderBoldColor: #d62647;
