<a
    {% for attr, value in options %}
        {% if attr != 'title' %}
            {{ attr }}="{{ value }}"
        {% endif %}
    {% endfor %}
>
    {{ title }}
    <i class="icon-resize-vertical"></i>
</a>
