parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: bisouland
    database_user: root
    database_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    mailer_encryption: ~
    mailer_auth_mode: ~
    mailer_port: 25

    email_admin: admin@example.com
    email_expeditor: expeditor@example.com

    locale: fr
    secret: ThisTokenIsNotSoSecretChangeIt

    less_bin: /usr/local/bin/node
    less_paths: [/usr/local/lib/node, /usr/local/lib/node_modules]

    uglifyjs_bin: /usr/local/bin/uglifyjs
    uglifycss_bin: /usr/local/bin/uglifycss

    website_url: bisouland.piwai.info
