{% extends 'base.html.twig' %}

{% block title %}404 Page Not Bisou'd - Qalin{% endblock %}

{% block body %}
    <h2><span class="error-icon">💔</span> 404 Page Not Bisou'd</h2>
    <p>Oh no, you wandered off your cloud! This fluffy spot doesn't seem to exist.</p>
{% endblock %}
