#layout-footer h2, #layout-footer ul, #layout-footer dl {
    margin: 0;
    padding: 0;
}

#layout-footer nav {
    background: #faffff;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
