#layout-header {
    height: 63px;
    padding-top: 9px;
}

#layout-header nav {
    float: right;
}

#layout-header ul, #layout-header li {
    display: inline;
}

#layout-header li a {
    padding: 10px;
    font-size: 16px;
    color: #99cccc;
}

#layout-header li.current a {
    background-color: #004c89;
    border-radius: 4px;
    border: #003B78 solid 1px;
}
