body {
    background: #99cccc url("../images/bg.gif") repeat-x;
}

.number {
    text-align: right;
}

.hide {
    visibility: hidden;
}

.help dl {
    margin-bottom: 5px;
    font-size: 14px;
}

.help dt {
    padding-left: 4px;
    vertical-align: top;
    width: 14em;
}

.help dd {
    margin-left: 12em;
    margin-top: -2em;
    vertical-align: top;
}
