#article {
  background:    #efffff;
  margin-bottom:  10px;
  padding:        5px;
}

.sixteen.columns.content {
  margin-bottom:  5px;
  background:     #9ee;
  padding:        15px;
  border:         1px solid #9cc;
  margin-left: 	  -5px;
}
