#header {
  width:          800px;
  background:     #0482c3 url("../images/logo.gif") no-repeat;
  height:         70px;
  border:         1px solid #979;
  position:       relative;
  padding:        5px 85px;
  margin-bottom:  5px;
  margin-left: 	  -5px;
}
