table {
    border-right: 0;
    clear: both;
    color: #333333;
    margin-bottom: 10px;
    width: 100%;
}

th {
    border: 0;
    border-bottom: 2px solid #555555;
    text-align: left;
    padding: 4px;
}

th a {
    display: block;
    padding: 2px 4px;
    text-decoration: none;
}

th a.asc:after {
    content: ' ⇣';
}

th a.desc:after {
    content: ' ⇡';
}

table tr td {
    padding: 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
}

table tr:nth-child(even) {
    background: #f9f9f9;
}

td.actions {
    text-align: center;
    white-space: nowrap;
}

table td.actions a {
    margin: 0px 6px;
    padding: 2px 5px;
}
