<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Qalin{% endblock %}</title>
    <link rel="stylesheet" href="/assets/skeleton/normalize.css">
    <link rel="stylesheet" href="/assets/skeleton/skeleton.css">
    <link rel="stylesheet" href="/assets/qalin.css">
    <script src="/assets/qalin.js"></script>
</head>
<body>
    <div class="container">
        <h1>Qalin</h1>
        <nav>
            <span class="nav-label">Actions:</span>
            <a href="/actions/sign-up-new-player">Sign Up New Player</a>
        </nav>
        {% block body %}{% endblock %}
    </div>
</body>
</html>
