{% extends '::base.html.twig' %}

{% block title %}Bisouland v2 - Personnages{% endblock %}

{% block view %}
    <article>
        <h2>Personnages</h2>

        <table>
            <tr>
                <th>Nom</th>
                <th>Points d'Amour (<abbr title="Points d'Amour">PA</abbr>)</th>
                <th>Date de naissance</th>
            </tr>

            {% for being in beings %}
                <tr>
                    <td>{{ being.name }}</td>
                    <td class="number">{{ being.lovePoints|number_format_decimal }}</td>
                    <td>{{ being.created|date("h:m:s d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
    </article>
{% endblock %}
