# composer
vendor/

# symfony
config/reference.php
config/secrets/prod/prod.decrypt.private.php
var/

# environment variables
.env.local
.env.local.php
.env.*.local

# friendsofphp/php-cs-fixer
.php-cs-fixer.php
.php-cs-fixer.cache

# phpunit
phpunit.xml
.phpunit.cache/

# phpstan
phpstan.neon
