includes:
    - phpstan-baseline.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
  level: 10
  paths:
    - src/
    - tests/
    - ../monolith/tests/
    - ../monolith/src/
  excludePaths:
    - src/Infrastructure/Maker/templates/
  bootstrapFiles:
    - vendor/autoload.php
    - ../monolith/vendor/autoload.php
