includes:
    - phpstan-baseline.neon
    - vendor/jangregor/phpstan-prophecy/extension.neon

parameters:
  level: 10
  paths:
    - tests/
    - ../monolith/tests/
    - ../monolith/src/
  scanDirectories:
    - ../monolith/vendor/
