{% if app.session.hasFlash('numberOfRemovedLovers') %}
    {% set numberOfRemovedLovers = app.session.flash('numberOfRemovedLovers') %}
    {% if 0 < numberOfRemovedLovers %}
        <div class="alert alert-error">
            <button class="close" data-dismiss="alert">&times;</button>
            <span class="label label-important">Coeurs bris&eacute;s</span>
            {{ numberOfRemovedLovers }} amoureux {{ numberOfRemovedLovers > 1 ? 'viennent' : 'vient' }} de perdre.
        </div>
    {% endif %}
{% endif %}
