{% if app.session.hasFlash('hasGeneratedNewLover') and app.session.flash('hasGeneratedNewLover') %}
    <div class="alert alert-success">
        <button class="close" data-dismiss="alert">&times;</button>
        <span class="label label-success">Coup de foudre</span>
        Vous venez de cr&eacute;er un nouvel amoureux !
    </div>
{% endif %}