{% extends "::layout.html.twig" %}

{% block view %}
    <h2>{{ 'registration.title'|trans() }}</h2>

    <p>
        {{ 'pre_registration.warning'|trans() }}
    </p>

    {% include "BisoulandUserBundle:Registration:register_content.html.twig" %}
{% endblock view %}
