RewriteEngine on
RewriteRule (.+)\.confirmation\.html$ /index.php?page=confirmation&id=$1
RewriteRule (.+)\.envoi\.html$ /index.php?page=envoi&destinataire=$1
RewriteRule (.+)\.bisous\.html$ /index.php?page=bisous&cancel=$1
RewriteRule (.+)\.(.+)\.nuage\.html$ /index.php?page=nuage&saut=1&sautnuage=$1&sautposition=$2
RewriteRule (.+)\.nuage\.html$ /index.php?page=nuage&nuage=$1
RewriteRule (.+)\.(.+)\.action\.html$ /index.php?page=action&nuage=$1&position=$2
RewriteRule (.+)\.(.+)\.yeux\.html$ /index.php?page=yeux&Dnuage=$1&Dpos=$2
RewriteRule (.+)\.(.+)\.newpass\.html$ /index.php?page=newpass&Cid=$1&Ccle=$2
RewriteRule (.+)\.lire\.html$ /index.php?page=lire&idmsg=$1
RewriteRule livreor\.(.+)\.html$ /index.php?page=livreor&or=$1
RewriteRule membres\.(.+)\.html$ /index.php?page=membres&num=$1
RewriteRule (.+)\.html$ /index.php?page=$1
RewriteRule (.+)\.image\.png$ /ban/$1.png
ErrorDocument 404 /erreur404.html
